.login-container {
  display: flex;
  height: 100%;
}

.lado-izq {
  width: 796px;
  height: 900px;
  gap: 0px;
  opacity: 0.85px;
  flex: 1;
  position: relative;
  background: linear-gradient(180deg, #33A3AA 0%, #107076 100%);
  overflow: hidden;
}

.fondo-login {
  width: 130%;
  height: 100%;
  opacity: 0.25;
  mix-blend-mode: multiply;
}

.textos-izq {
  position: absolute;
  top: 40%;
  left: 20%;
  color: #ffffff;
  text-align: left;
}

.textos-izq h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 58px;
  text-align: left;
  margin-bottom: 10px;
}

.textos-izq p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  width: 60%;
  margin-top: 0;
}

.iconos-info {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-top: 30px;
}

.iconos-izq {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.textos-info p {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
}

.textos-info small {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  width: 90%;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.lado-der {
  width: 675px;
  height: 900px;
  left: 1440px;
  gap: 0px;
  border-radius: 0px 32px 32px 0px;
  opacity: 0px;
  flex: 1;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}

.login-form {
  width: 100%;
  max-width: 400px;
  margin-top: 260px;

}

.login-form h1 {
  font-size: 36.48px;
  font-weight: 600;
  line-height: 54.71px;
  text-align: left;
  margin-bottom: 10px;
}

.login-form h2 {
  font-size: 25px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  margin-top: 0;
}

.form-group {
  margin-top: 20px;
}

.form-group h2 {
  display: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: 0.0264em;
  text-align: left;
}

.form-group input {
  height: 48px;
  margin-top: 20px;
  border-radius: 15px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.input-form {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-footer {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.pass-olvidada:hover {
  text-decoration: underline;
  cursor: pointer;
}

.registro-link {
  color: #33A3AA;
  text-decoration: none;
  cursor: pointer;
}

.registro-link:hover {
  text-decoration: underline;
}

.btn-login {
  width: 164px;
  height: 48px;
  top: 539px;
  left: 1136px;
  gap: 0px;
  border-radius: 12px;
  opacity: 0px;
  cursor: pointer;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #ffffff;
  background-color: #33A3AA;
  border: none;
}

.btn-login:hover {
  background-color: #33A2AACE;
}

.politica-condiciones {
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  color: #84818A;

}

.politica-condiciones a {
  color: #33A3AA;
  text-decoration: underline;
  cursor: pointer;
}
