<div class="sidebar">
  <img class="logo" src="assets\images\sidebar\logo.svg" alt="logo">

  <div class="menu">
    <button><img src="assets\images\sidebar\mundo.svg" alt="mundo"></button>
    <button><img src="assets\images\sidebar\camara.svg" alt="camara"></button>
    <button><img src="assets\images\sidebar\sensores.svg" alt="sensores"></button>
    <button><img src="assets\images\sidebar\plantas.svg" alt="plantas"></button>
    <button (click)="logout()"><img src="assets\images\sidebar\cerrar-sesion.svg" alt="cerrar-sesion"></button>
  </div>
</div>
