/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

@font-face {
  font-family: "Poppins";
  src: url(assets/font/Poppins-Regular.ttf) format("trueType");
}

body {
  font-family: "Poppins";
}

